.slidev-vclick-target {
    transition: all 500ms ease-out;
}

.slidev-vclick-hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-20px);
}

.effect_Shadow {
    color: #fff !important;
    text-shadow: 2px 2px 10px black;
    opacity: 1 !important;
}

.bgCover {
    margin: 0 !important;
    padding: 0 !important;
    top: 0 !important;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: -99999;
}

.caption,
.caption-left {
    position: absolute; /*absolute*/
    font-size: xx-small;
    bottom: inherit;
    margin: 0;
    width: max-content;
    padding: 4px 0px;
    padding-right: 0.5rem;
    right: 0;
    height: 1.2rem;
    text-align: right;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: sans-serif;
}

.caption-left {
    padding: 4px 15px;
    padding-left: 0.5rem;
    text-align: left;
    left: 0;
    width: max-content;
}

.slidev-toc-list {
    margin-left: 40px;
}
